*.pyc
.DS_Store
Makefile.in
make.inc
eDMFT
libdmft.a
wannier90.x
w90chk2chk.x
dmft.x
dmft_dos.x
dmft_ksum_band
dmft_ksum_partial_band
dmft_ksum_sp
sources/dmft_ksum/dmft_ksum
dmft_ksum_dos
fort_kpt_tools.so
ctqmc
skrams
gaunt.so
gutils.so
maxent_routines.so
dpybind.so
cubic_harmonics.py
maxentropy.py
maxent_run.py
/bin/vasp
vaspDMFT
vasp_std
siesta
sources/src/obj/*
*.log
*.mod

#sphinx
_build/
